@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Sen', sans-serif;
	border: none;
	outline: none;
}

button {
	background-color: #800080;
	color: #F2F2F2;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #222222;
}

.title_container {
	color: #F2F2F2;
	font-weight: 700;
	text-align: center;
	margin-bottom: 35px;
}

.title_container h1 {
	font-size: 45px;
	text-transform: uppercase;
}

.title_container h4 {
	font-size: 21px;
}

#password_generator_container {
	width: 360px;
	height: 100%;
	background-color: #F2F2F2;
	text-align: center;
	padding: 40px 32px;
}

#password_generator_container .password_generator_logic_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 17px;
	font-size: 14px;
}

/*#password_generator_container .password_generator_logic_container label {
	padding: 2px;
}*/

#password_generator_container .password_generator_logic_container input[type="number"] {
	outline: 1px solid #800080;
	font-weight: 700;
	padding: 2px 4px;
	margin-right: 1px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
}

#password_generator_container .password_generator_logic_container_simple {
	display: flex;
	justify-content: center;
	margin-bottom: 47px;
}

#password_generator_container, #password_generator_container button {
	text-transform: uppercase;
}

#password_generator_container #password {
	display: inline-block;
	border: 1px solid #222222;
	border-right: none;
	padding: 15px 9px;
	width: 100%;
	font-size: 18px;
	text-align: left;
	text-transform: none;
}

#password_generator_container #copy_button {
	padding: 15px 25px;
}

#password_generator_container #generate_button {
	display: inline-block;
	width: 100%;
	padding: 15px 25px;
	margin-top: 28px;
}

@media only screen and (max-width: 600px) {
	.title_container {
		margin-bottom: 30px;
	}

	.title_container h1 {
		font-size: 40px;
	}

	.title_container h4 {
		font-size: 17px;
	}

	#password_generator_container {
		width: 270px;
		height: 100%;
		padding: 36px 32px;
		text-align: left;
	}
}

@media only screen and (max-width: 300px) {
	.title_container {
		margin-bottom: 30px;
	}

	.title_container h1 {
		font-size: 35px;
	}

	.title_container h4 {
		font-size: 17px;
	}

	#password_generator_container {
		width: 180px;
		height: 100%;
		padding: 36px 32px;
		text-align: left;
	}
}

@media only screen and (min-width: 1600px) {

	button {
		font-size: 30px;
	}

	input[type="checkbox"] {
		width: 30px;
		height: 30px;
	}

	#password_generator_container .password_generator_logic_container input[type="number"] {
		padding: 2px 10px;
		font-size: 30px;
	}

	.title_container {
		margin-bottom: 46px;
	}

	.title_container h1 {
		font-size: 70px;
	}

	.title_container h4 {
		font-size: 32px;
	}

	#password_generator_container #password {
		border: 1px solid #222222;
		padding: 20px 9px;
		width: 100%;
		font-size: 38px;
	}

	#password_generator_container {
		width: 560px;
		height: 100%;
		padding: 76px 32px;
	}

	#password_generator_container .password_generator_logic_container {
		margin-bottom: 37px;
		font-size: 25px;
	}

	#password_generator_container #copy_button {
		padding: 20px 25px;
	}

	#password_generator_container #generate_button {
		width: 100%;
		padding: 20px 25px;
		margin-top: 28px;
	}
}